<%- include('../partials/header') %>
<h1>Show cluck Page</h1>
 

<p>
    <%= clucks.content %> 
</p>


<img src='<%= clucks.image_url %> ' alt="clucks item image"   >
<p>
<%if( username == clucks.username){%>
<a href="/clucks/<%- clucks.id%>/edit" class="btn btn-outline-success btn-block my-1">
    Edit
</a>

<form action="/clucks/<%= clucks.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete" class="btn btn-outline-danger btn-block">
</form>
<%}%>
<p>
    <a href="/clucks/" class="btn btn-primary text-primary bg-light col-12 mt-4">
        Goto List
    </a>



<%- include('../partials/footer') %>

